body {
    background-image: url('main_background.png');
    background-size: cover; 
    overflow-y: scroll;
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
    cursor: none;
    font-family: "Bebas Neue", sans-serif;
}
#bio {
    margin-top: 10px;
    margin-left: 60px;
}

#pic-dec {
    display: flex;
}
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

h1 {
    color: white;
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 0%;
    margin-left: 10px;
}

h2 {
    margin-top: 0%;
    margin-left: 30px;
    color: white;
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
}

.container {
    display: flex;
    justify-content: left;
    align-items: center;
}

#circularImage {
    width: 200px; /* Set a fixed width for the image */
    height: 200px; /* Set a fixed height for the image */
    border-radius: 50%; /* Make the image circular */
    border: 5px solid #333; /* Add a border around the image */
    object-fit: cover; /* Ensure the image covers the container evenly */
}

.small {
    width: 6px;
    height: 6px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.custom-cursor {
    width: 35px;
    height: 35px;
    border: 2px solid #000;
    border-radius: 50%;
    position: absolute;
    pointer-events: none; /* Makes sure the cursor does not interfere with other elements */
    transition: transform 0.1s ease;
    background-color: #00aaed; /* Semi-transparent background */
    transform: translate(-50%, -50%); /* Center the cursor */
    animation-name: stretch;
    animation-duration: 2.0s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.custom-cursor::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes stretch {
    0% {
        opacity: 0.2;
        background-color: #350c32;
        border-radius: 100%;
    }
    50% {
        background-color: #4a0532;
    }
    100% {
        transform: scale(2.0);
        background-color: #af167a;
    }
}

.social-media-links {
    display: flex;
    gap: 20px;
    justify-content: right;
    align-items: center;
    padding-right: 30px;
    padding-top: 40px;
}

.social-icon {
    font-size: 2em;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #0073b1; /* Change to desired hover color */
}

/* Specific colors for each icon */
.instagram {
    color: #E4405F;
}

.linkedin {
    color: #0077B5;
}

.github {
    color: #333;
}

.instagram:hover {
    color: #C13584;
}

.linkedin:hover {
    color: #005582;
}

.github:hover {
    color: #6e5494;
}

.short-description-displayer {
    font-size: 3em;
    color: white;
    position: relative;
    overflow: hidden;
    background-color: #131212;
    width: 6em; /* Adjust width as needed */
    text-align: center;
    height: 1em; /* Allow height to adjust based on content */
    margin-top: 80px;
    margin-left: 70px;
    padding-top: 4px;
    padding-bottom: 6px; /* Add padding for spacing */
    border-left: 8px solid #4e0e42; /* Add left border */
}

.short-descriptions span {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    animation: word-animation 3s infinite;
    transform-style: preserve-3d;
}

@keyframes word-animation {
    0% {
        opacity: 0;
        transform: rotateX(90deg) translateY(100%);
    }
    10% {
        opacity: 1;
        transform: rotateX(0deg) translateY(0%);
    }
    30% {
        opacity: 1;
        transform: rotateX(0deg) translateY(0%);
    }
    40% {
        opacity: 0;
        transform: rotateX(-90deg) translateY(-100%);
    }
    100% {
        opacity: 0;
        transform: rotateX(-90deg) translateY(-100%);
    }
}

/* New lines on the right and top side of the webpage */
body::before,
body::after {
    content: '';
    position: absolute;
    background-color: #af167a; /* Dark pinkish color */
}

body::before {
    top: 10px; /* Padding from the top border */
    left: 30px;
    right: 20px; /* Slightly padded from the right side */
    height: 3px; /* Height of the top line */
}

body::after {
    top: 70px; /* Slightly padded from the top side */
    right: 10px; /* Padding from the right border */
    bottom: 30px;
    width: 3px; /* Width of the right line */
}
